* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: crimson;
  background-color: tan;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 900;
}
.result {
  display: flex;
  gap: 1rem;
}

.each {
  padding: 1rem;
  width: 50%;
}
