* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: crimson;
  background-color: tan;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 900;
}
.result {
  display: flex;
  gap: 1rem;
}

.each {
  padding: 1rem;
  width: 50%;
}
.bold {
  font-size: large;
  font-weight: 500;
}
.btn {
  padding: 0.3rem 1rem;
  margin: 1rem;
}
.container {
  display: block;
  gap: 1rem;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.name,
.email,
.password {
  padding: 0.3rem;
  min-width: 80%;
}
.wrapper {
  display: grid;
  align-items: center;
  justify-content: left;
  margin: 0 auto;
  padding: 0.3rem 1rem;
}
.btn {
  /* width: 40%; */
  /* display: inline-block; */
  cursor: pointer;
  width: 20%;
  text-align: center;
  background-color: crimson;
  color: white;
  border: none;
  /* margin: 1rem; */
}
.first,
.second,
.third {
  /* display: none; */
}
.prompt {
  color: red;
}
.btn2 {
  padding: 0.3rem 1rem;
  margin: 1rem;
}

.box {
  width: 150px;
  height: 150px;
  background-color: grey;
  margin: 0 auto;
  margin-top: 3rem;
  /* margin-left: -1rem; */
}
li {
  display: flex;
  gap: 1rem;
  color: crimson;
  padding: 0.3rem;
}
.message {
  display: flex;
  background-color: grey;
  color: crimson;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
}
